
<header>
    <div id="left-side">
        <img src="../../../../assets/Login/tiket-logo-member.webp" alt="" style="max-width: 20%;">
        <div (click)="searchFlight()">Pesawat</div>
        <div>Hotel</div>
        <div>Kereta Api</div>
        <div>Sewa Mobil</div>
        <div>Hiburan</div>
    </div>
    <div id="right-side">
        <div><b>Tix Point</b></div>
        <div><b>Cek Order</b></div>
        <div *ngIf="user == null"><b (click) = "openLoginDialog()">Login</b></div>
        <div *ngIf="user == null"><b (click) = "openLoginDialog()">Daftar</b></div>
        <div *ngIf="user" class="user" (click) = "profile()"><b>{{user[0].firstName}}</b></div>
    </div>
</header>
<a class="wa-chat" href="https://web.whatsapp.com/send?phone=628551500878&amp;text=Hi%2c%20tiket.com" target="_blank" rel="nofollow noopener noreferrer"><div class="wa-image-container"><img class="wa-image" src="https://www.tiket.com/home-ms/assets/4a376104.svg" alt="whatsapp-tiket"></div><span class="wa-text">Whatsapp</span></a>

