<section>
    <div id="title">
            <label for="">Register</label>
    </div>

    <div id="desc">
        <p>Your amazing trip starts here</p>
    </div>
    <app-input-placeholder desc="First Name" width = 21></app-input-placeholder>
    <app-input-placeholder desc="Last Name" width = 21></app-input-placeholder>

    <div id="horizontal">
        <app-input-placeholder desc="Country Code" width = 10></app-input-placeholder>
        <app-input-placeholder desc="Phone Number" width = 10></app-input-placeholder>
    </div>
    <app-input-placeholder desc="Password" width=21></app-input-placeholder>
    <app-button title = "Create Account" width = 15></app-button>
</section>
