<body>
  <div class="preview-flight">
    <div class="routes">
      <div class="logo">
        P
      </div>

      <div class="detail">
        <div class="title">
          Pilih Penerbangan Pergi
        </div>
        <div class="description">
          <div class="from" *ngIf="flights.length != 0">
            {{flights[0].from.city}}({{flights[0].from.cityCode}})
          </div>
          ->
          <div class="to" *ngIf="flights.length != 0">
            {{flights[0].to.city}}({{flights[0].to.cityCode}})
          </div>
        </div>
      </div>

    </div>
    <app-button title="UBAH PENCARIAN" width = 21 (click)="toggleOverlay($event)"></app-button>
  </div>

  <div class="search-flight" *ngIf="!isHidden">
    <div class="from">
      <mat-label>From</mat-label>
      <mat-select [formControl]="fromAirport" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let airport of airports" [value]="airport">
          {{airport.city}}
        </mat-option>
      </mat-select>
    </div>
    <div class="to">
      <mat-label>To</mat-label>
      <mat-select [formControl]="toAirport" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let airport of airports" [value]="airport">
          {{airport.city}}
        </mat-option>
      </mat-select>
    </div>
    <div class="schedule">
      <div class="departure">
        <mat-form-field>
          <input matInput [matDatepicker]="departure" placeholder="Berangkat" [(ngModel)] = "fromSchedule">
          <input hidden [formControl] = "formattedDeparture" matinput [ngModel] = "fromSchedule | date:'yyyy-MM-dd'">
          <mat-datepicker-toggle matSuffix [for]="departure"></mat-datepicker-toggle>
          <mat-datepicker #departure></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="arrival">
        <mat-form-field >
            <input matInput [matDatepicker]="arrival" placeholder="Tiba" [(ngModel)] = "toSchedule" >
            <input  hidden [formControl] = "formattedArrival" matinput [ngModel] = "toSchedule | date:'yyyy-MM-dd'">
            <mat-datepicker-toggle matSuffix [for]="arrival"></mat-datepicker-toggle>
            <mat-datepicker #arrival></mat-datepicker>
          </mat-form-field>
      </div>
    </div>
    <app-button title="MULAI PENCARIAN" width = 21 (click)="searchFlight()"></app-button>
  </div>

  <app-calendar-component style="max-width: 70%;"></app-calendar-component>
  <div class="content">
    <div class="filter">
      <div class="departure">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Departure
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-departure" *ngFor="let departure of departures; let i = index">
            <div class="filter-desc">
              {{departure.name}}
            </div>
            <mat-checkbox [checked] = "departure.active" [(ngModel)]="departure.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="arrival">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Arrival
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-arrival" *ngFor="let arrival of arrivals; let i = index">
            <div class="filter-desc">
              {{arrival.name}}
            </div>
            <mat-checkbox [checked] = "arrival.active" [(ngModel)]="arrival.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="facility">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Facility
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-facility" *ngFor="let facility of filterFacility; let i = index">
            <div class="filter-desc">
              {{facility.name}}
            </div>
            <mat-checkbox [checked] = "facility.active" [(ngModel)]="facility.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="airline">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Airline
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-airline" *ngFor="let airline of airlines; let i = index">
            <div class="filter-desc">
              {{airline.name}}
            </div>
            <mat-checkbox [checked] = "airline.active" [(ngModel)]="airline.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="transits">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Transits
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-transits" *ngFor="let transit of transits; let i = index">
            <div class="filter-desc">
              {{transit.name}}
            </div>
            <mat-checkbox [checked] = "transit.active" [(ngModel)]="transit.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sort
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-button (click)="priceSort()">Harga Terendah</button>
        <button mat-button >Keberangkatan paling Awal</button>
        <button mat-button>Keberangkatan paling Akhir</button>
        <button mat-button>Kedatangan paling Awal</button>
        <button mat-button>Kedatangan paling Akhir</button>
        <button mat-button (click)="durationSort()">Durasi</button>
      </mat-expansion-panel>
    </div>

    <div class="wrapper-flight">
      <div class="departures-results" *ngIf="!buy">
        <div class="sub-results" *ngFor="let flight of flights; let i = index">
          <div class="flight-result" *ngIf="filterValidation(i) && flight.from.city == from">
            <header>
              <div class="name">{{flight.airline.name}}</div>
              <button mat-raised-button matTooltip={{facilities[i]}}>Facilities</button>
            </header>
            <section>
              <div class="left">
                <img src="../../../../assets/airline/citylink.png" alt="">
                <div class="departure">
                  <div>
                    {{flight.from.cityCode}}
                  </div>
                  <div>
                    {{flight.departure | date:'HH:mm':'UTC'}}
                  </div>
                </div>
                <div class="duration">
                  <div>
                    {{flight.duration}}
                  </div>
                </div>
                <div class="arrival">
                  <div>
                    {{flight.to.cityCode}}
                  </div>
                  <div>
                    {{flight.arrival | date:'HH:mm':'UTC'}}
                  </div>
                </div>
              </div>
              <div class="right">
                {{flight.price}}
              </div>
            </section>
            <footer>
              <div class="flight-description">
                <mat-tab-group>
                  <mat-tab label = "Detail Penerbangan">
                    <div class="sub-routes" *ngFor="let routes of flights[i]['flightRoutes']">
                      {{routes.airport.name}}
                    </div>
                  </mat-tab>
                  <mat-tab label = "Detail Harga"></mat-tab>
                  <mat-tab label = "Kebijakan"></mat-tab>
                </mat-tab-group>
              </div>
              <app-button title="BELI" width="8" (click)="setBuy()"></app-button>
            </footer>
          </div>
        </div>
      </div>

      <div class="arrival-results" *ngIf="buy">
        <div class="sub-results" *ngFor="let flight of flights; let i = index">
          <div class="flight-result" *ngIf="filterValidation(i) && flight.from.city == to">
            <header>
              <div class="name">{{flight.airline.name}}</div>
              <button mat-raised-button matTooltip={{facilities[i]}}>Facilities</button>
            </header>
            <section>
              <div class="left">
                <img src="../../../../assets/airline/citylink.png" alt="">
                <div class="departure">
                  <div>
                    {{flight.from.cityCode}}
                  </div>
                  <div>
                    {{flight.departure | date:'HH:mm':'UTC'}}
                  </div>
                </div>
                <div class="duration">
                  <div>
                    {{flight.duration}}
                  </div>
                </div>
                <div class="arrival">
                  <div>
                    {{flight.to.cityCode}}
                  </div>
                  <div>
                    {{flight.arrival | date:'HH:mm':'UTC'}}
                  </div>
                </div>
              </div>
              <div class="right">
                {{flight.price}}
              </div>
            </section>
            <footer>
              <div class="flight-description">
                <mat-tab-group>
                  <mat-tab label = "Detail Penerbangan">
                    <div class="sub-routes" *ngFor="let routes of flights[i]['flightRoutes']">
                      {{routes.airport.name}}
                    </div>
                  </mat-tab>
                  <mat-tab label = "Detail Harga"></mat-tab>
                  <mat-tab label = "Kebijakan"></mat-tab>
                </mat-tab-group>
              </div>
              <app-button title="BELI" width="8" (click)="setBuy()"></app-button>
            </footer>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="overlay" [hidden] = "isHidden" (click)="toggleOverlay($event)"></div>
</body>
