<section>
    <div id="title">
        <label for="">Log in/Daftar</label>
    </div>

    <div id="desc">
        <p>Perjalanan serumu dimulai di sini.</p>
    </div>

    <form class="loginForm">
      <mat-form-field class="Email or Phone">
        <mat-label>Email Or Phone</mat-label>
        <input [formControl] = "emailOrPhone" matInput class="emailOrPhone">
      </mat-form-field>

      <mat-form-field class="Password">
        <mat-label>password</mat-label>
        <input [formControl] = "password" matInput type = {{shown}} class="password">
      </mat-form-field>

      <button mat-button (click)="setShown()">Show</button>
    </form>

    <app-button (click)="login()" title="LANJUTKAN" width = 15></app-button>

    <div>
        <div class="line">
            <hr>
        </div>
        <div>
            atau dengan
        </div>
        <div class="line">
            <hr>
        </div>
    </div>

    <div id="socmed">
        <div id="google" (click)="signInGoggle()">
            <img src="../../../assets/Login/google.svg" alt="">
            <p>Google</p>
        </div>
        <hr>
        <div id="facebook" (click)="signInFacebook()">
            <img src="../../../assets/Login/facebook.svg" alt="">
            <p>Facebook</p>
        </div>
    </div>

    <div>
        Dengan mendaftar kamu menyetujui <a href="">Kebijakan Privasi</a> dan <a href="">Syarat & Ketentuan</a> kami.
    </div>

    <div class="line">
        <hr>
    </div>
</section>
