<section>
    <div id="title">
        <label for="">Log in/Daftar</label>
    </div>
    
    <div id="desc">
        <p>Perjalanan serumu dimulai di sini.</p>
    </div>

    <div id="input">
        <input type="text" placeholder=" ">
        <div class="placeholder" >Nomor Ponsel atau Email</div>
    </div>

    <div id="button">
        <button>LANJUTKAN</button>
    </div>

    <div>
        <div class="line">
            <hr>
        </div>
        <div>
            atau dengan
        </div>
        <div class="line">
            <hr>
        </div>
    </div>

    <div id="socmed">
        <div id="google" (click)="signIn()">
            <img src="../../../assets/Login/google.svg" alt="">
            <p>Google</p>
        </div>
        <hr>
        <div id="facebook" (click) = "foo()">
            <img src="../../../assets/Login/facebook.svg" alt="">
            <p>Facebook</p>
        </div>   
    </div>
    
    <div>
        Dengan mendaftar kamu menyetujui <a href="">Kebijakan Privasi</a> dan <a href="">Syarat & Ketentuan</a> kami.
    </div>
    
    <div class="line">
        <hr>
    </div>
</section>