<section>
    <div id="title">
        <label for="">Log in/Daftar</label>
    </div>

    <div id="desc">
        <p>Perjalanan serumu dimulai di sini.</p>
    </div>

    <app-input-placeholder desc="Nomor Ponsel atau Email" width = 21 (returnedString)="getString($event)"></app-input-placeholder>

    <app-button (click)="login()" title="LANJUTKAN" width = 15></app-button>

    <div>
        <div class="line">
            <hr>
        </div>
        <div>
            atau dengan
        </div>
        <div class="line">
            <hr>
        </div>
    </div>

    <div id="socmed">
        <div id="google" (click)="signInGoogle()">
            <img src="../../../assets/Login/google.svg" alt="">
            <p>Google</p>
        </div>
        <hr>
        <div id="facebook" (click) = "signInFacebook()">
            <img src="../../../assets/Login/facebook.svg" alt="">
            <p>Facebook</p>
        </div>
    </div>

    <div>
        Dengan mendaftar kamu menyetujui <a href="">Kebijakan Privasi</a> dan <a href="">Syarat & Ketentuan</a> kami.
    </div>

    <div class="line">
        <hr>
    </div>
</section>
