<body>
  <div class="preview-railroad">
    <div class="routes">
      <div class="logo">
        T
      </div>

      <div class="detail">
        <div class="title">
          Pilih Kereta Pergi
        </div>
        <div class="description">
          <div class="from" *ngIf="railroads.length != 0">
            {{railroads[0].from.city}}({{railroads[0].from.cityCode}})
          </div>
          ->
          <div class="to" *ngIf="railroads.length != 0">
            {{railroads[0].to.city}}({{railroads[0].to.cityCode}})
          </div>
        </div>
      </div>

    </div>
    <app-button title="UBAH PENCARIAN" width = 21 (click)="toggleOverlay($event)"></app-button>
  </div>

  <div class="search-train" *ngIf="!isHidden">
    <div class="from">
      <mat-label>From</mat-label>
      <mat-select [formControl]="fromTrain" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let station of stations" [value]="station">
          {{station.city}}
        </mat-option>
      </mat-select>
    </div>
    <div class="to">
      <mat-label>To</mat-label>
      <mat-select [formControl]="toTrain" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let station of stations" [value]="station">
          {{station.city}}
        </mat-option>
      </mat-select>
    </div>
    <app-button title="UBAH PENCARIAN" width = 21 (click)="toggleOverlay($event)"></app-button>
  </div>

  <div class="content">
    <div class="filter">

      <div class="train">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Train
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-train" *ngFor="let train of trains; let i = index">
            <div class="filter-desc">
              {{train.name}}
            </div>
            <mat-checkbox [checked] = "train.active" [(ngModel)]="train.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="departure">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Departure
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="sub-departure" *ngFor="let departure of departures; let i = index">
            <div class="filter-desc">
              {{departure.name}}
            </div>
            <mat-checkbox [checked] = "departure.active" [(ngModel)]="departure.active" name= "{{i}}-name"></mat-checkbox>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="class">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Class
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="sub-class" *ngFor="let clas of class; let i = index">
              <div class="filter-desc">
                {{clas.name}}
              </div>
              <mat-checkbox [checked] = "clas.active" [(ngModel)]="clas.active" name= "{{i}}-name"></mat-checkbox>
            </div>
          </mat-expansion-panel>
      </div>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sort
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-button (click)="priceSort()">Harga Terendah</button>
        <button mat-button >Keberangkatan paling Awal</button>
        <button mat-button>Keberangkatan paling Akhir</button>
        <button mat-button>Kedatangan paling Awal</button>
        <button mat-button>Kedatangan paling Akhir</button>
        <button mat-button (click)="durationSort()">Durasi</button>
      </mat-expansion-panel>
    </div>

    <div class="wrapper-railroad">
      <div class="departures-results" *ngIf="!buy">
        <div class="sub-results" *ngFor="let railroad of railroads; let i = index">
          <div class="railroad-result" *ngIf="filterValidation(i)  && railroad.from.city == from">
            <header>
              <div class="name">{{railroad.train.name}}({{railroad.class}})</div>
            </header>
            <section>
              <div class="left">
                <img src="../../../../assets/airline/citylink.png" alt="">
                <div class="departure">
                  <div>
                    {{railroad.from.cityCode}}
                  </div>
                  <div>
                    {{railroad.departure | date:'HH:mm':'UTC'}}
                  </div>
                </div>
                <div class="duration">
                  <div>
                    {{railroad.duration}}
                  </div>
                </div>
                <div class="arrival">
                  <div>
                    {{railroad.to.cityCode}}
                  </div>
                  <div>
                    {{railroad.arrival | date:'HH:mm':'UTC'}}
                  </div>
                </div>
              </div>
              <div class="right">
                {{railroad.price}}
              </div>
            </section>
            <footer>
              <div class="railroad-description">
                <mat-tab-group>
                  <mat-tab label = "Detail Perjalanan">
                    <div class="sub-routes" *ngFor="let routes of railroad.railroadRoutes">
                      {{routes.station.name}}
                    </div>
                  </mat-tab>
                  <mat-tab label = "Detail Harga"></mat-tab>
                  <mat-tab label = "Kebijakan"></mat-tab>
                </mat-tab-group>
              </div>
              <app-button title="BELI" width="8" (click)="setBuy()"></app-button>
            </footer>
          </div>
        </div>
      </div>

      <div class="arrival-results" *ngIf="buy">
        <div class="sub-results" *ngFor="let railroad of railroads; let i = index">
          <div class="railroad-result" *ngIf="filterValidation(i) && railroad.to.city == to">
            <header>
              <div class="name">{{railroad.train.name}}({{railroad.class}})</div>
            </header>
            <section>
              <div class="left">
                <img src="../../../../assets/airline/citylink.png" alt="">
                <div class="departure">
                  <div>
                    {{railroad.from.cityCode}}
                  </div>
                  <div>
                    {{railroad.departure | date:'HH:mm':'UTC'}}
                  </div>
                </div>
                <div class="duration">
                  <div>
                    {{railroad.duration}}
                  </div>
                </div>
                <div class="arrival">
                  <div>
                    {{railroad.to.cityCode}}
                  </div>
                  <div>
                    {{railroad.arrival | date:'HH:mm':'UTC'}}
                  </div>
                </div>
              </div>
              <div class="right">
                {{railroad.price}}
              </div>
            </section>
            <footer>
              <div class="railroad-description">
                <mat-tab-group>
                  <mat-tab label = "Detail Perjalanan">
                    <div class="sub-routes" *ngFor="let routes of railroad.railroadRoutes">
                      {{routes.station.name}}
                    </div>
                  </mat-tab>
                  <mat-tab label = "Detail Harga"></mat-tab>
                  <mat-tab label = "Kebijakan"></mat-tab>
                </mat-tab-group>
              </div>
              <app-button title="BELI" width="8" (click)="setBuy()"></app-button>
            </footer>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="overlay" [hidden] = "isHidden" (click)="toggleOverlay($event)"></div>
</body>
