<body>
  <div class="preview-hotel">
    <div class="location">
      <div class="logo">
        H
      </div>

      <div class="detail">
        <div class="title">
          {{location}}
        </div>
        <div class="description">
          <div class="from">
            {{fromDate}}
          </div>
          :
          <div class="to">
            {{toDate}}
          </div>
        </div>
      </div>
      <app-button title="UBAH PENCARIAN" width = 21 (click)="toggleOverlay($event)"></app-button>
    </div>

    <div class="search-hotel" *ngIf="!isHidden">
      <div class="location">
        <mat-label>Location</mat-label>
        <mat-select [formControl]="locationForm" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location.city}}
          </mat-option>
        </mat-select>
      </div>

      <div class="schedule">
        <div class="fromSchedule">
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Tanggal Mulai" [(ngModel)] = "fromDate">
            <input hidden [formControl] = "formattedStart" matinput [ngModel] = "fromDate | date:'yyyy-MM-dd'">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="endSchedule">
          <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Tanggal Selesai" [(ngModel)] = "toDate" >
            <input  hidden [formControl] = "formattedEnd" matinput [ngModel] = "toDate | date:'yyyy-MM-dd'">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <app-button title="MULAI PENCARIAN" width = 21 (click)="toggleOverlay($event)"></app-button>
    </div>
  </div>
  <div class="content">
    <div class="filter" *ngIf="!buy">
      <app-button title="Open Map" width = 21 (click)="setOpenMap()" *ngIf="!openMap"></app-button>
      <app-button title="Order" width = 21 *ngIf="openMap"></app-button>
      <div class="rangePrice">
        <div class="title">Range Price</div>
        <mat-form-field class="minimumPrice">
          <mat-label>Minimum Price</mat-label>
          <input [formControl] = "minimumPrice" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field class="maximumPrice">
          <mat-label>Maximum Price</mat-label>
          <input [formControl] = "maximumPrice" matInput placeholder="0">
        </mat-form-field>
      </div>
    </div>

    <div id="map"></div>

    <div class="wrapper-hotel" *ngIf="!buy">
      <div class="hotel-results">
        <div class="sub-results" *ngFor="let hotel of hotels; let i = index">
          <div class="hotel-result" *ngIf="filterValidation(i)">
            <header>
              <div class="name">Mulai dari</div>
            </header>
            <section>
              <div class="left">
                <img src="../../../../assets/airline/hotel.jpg" alt="">
                <div class="model">
                  <div class="model-name">
                    {{hotel.name}}
                  </div>
                  <div class="model-description">
                    <div class="hotel-facilites" *ngFor="let hotelFacility of hotel.hotelFacility;">
                      <button mat-button matTooltip = {{hotelFacility.facility.name}}><i class="fa fa-building-o" aria-hidden="true"></i></button>
                    </div>
                  </div>
                  <div class="stars">
                    <div class="star" *ngFor="let star of count(5); let i = index">
                      <div class="shining-star" *ngIf="hotel.rating > i">
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                {{hotel.hotelRoom[0].room.price}}
              </div>
            </section>
            <footer>
              <app-button title="BELI" width="8" (click) = "redirectToDetailPage($event)" id="{{i}}" style="z-index: 4;"></app-button>
            </footer>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div id="overlay" [hidden] = "isHidden" (click)="toggleOverlay($event)"></div>
</body>
