<body>
  <div class="share-button" *ngIf="blog != null">
    <div class="facebook">
      <a class="mashicon-facebook mash-medium mash-nomargin mashsb-noshadow" href="https://www.facebook.com/sharer.php?u=localhost:4200/blog/{{blog[0].id}}" target="_top" rel="nofollow">Share</a>
    </div>
    <div class="twitter">
      <a class="mashicon-facebook mash-medium mash-nomargin mashsb-noshadow" href="https://twitter.com/intent/tweet?text={{blog[0].title}};url=localhost:4200/blog/{{blog[0].id}}" target="_top" rel="nofollow">Tweet</a>
    </div>
    <div class="whatsapp">
      <a class="mashicon-facebook mash-medium mash-nomargin mashsb-noshadow" href="https://api.whatsapp.com/send?text=localhost:4200/blog/{{blog[0].id}}" target="_top" rel="nofollow">Whatsapp</a>
    </div>
  </div>

  <div class="left">
    <header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
      <div class="title"><h2>{{blog[0].title}}</h2></div>
    </header>
    <section>
      <h4>{{blog[0].value}}</h4>
    </section>
  </div>
  <div class="right">

  </div>
</body>
