<body>
  <header>
    <div class="left-section">
      <div class="logo">
        F
      </div>
      <p>Cari Sewa mobil Murah di Sini</p>
    </div>
    <div class="right-section">
      <p>Pencarian Terakhir ></p>
    </div>
  </header>

  <div class="way">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="twice" style="font-size: 15px; margin-right: 30px" name="goAndHome" ngDefaultControl [(ngModel)]="way">Pulang - Pergi</mat-radio-button>
      <mat-radio-button value="once" style="font-size: 15px; margin-right: 30px;" >Sekali Jalan</mat-radio-button>
    </mat-radio-group>
  </div>

  <section>
    <div class="from">
      <mat-label>From</mat-label>
      <mat-select [formControl]="fromAirport" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let airport of airports" [value]="airport">
          {{airport.city}}
        </mat-option>
      </mat-select>
    </div>
    <div class="to">
      <mat-label>To</mat-label>
      <mat-select [formControl]="toAirport" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let airport of airports" [value]="airport">
          {{airport.city}}
        </mat-option>
      </mat-select>
    </div>
    <div class="schedule">
      <div class="departure">
        <mat-form-field>
          <input matInput [matDatepicker]="departure" placeholder="Berangkat" [disabled] = "[way]">
          <mat-datepicker-toggle matSuffix [for]="departure"></mat-datepicker-toggle>
          <mat-datepicker #departure></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="arrival">
        <mat-form-field >
            <input matInput [matDatepicker]="arrival" placeholder="Tiba" [disabled] = "[way]" >
            <mat-datepicker-toggle matSuffix [for]="arrival"></mat-datepicker-toggle>
            <mat-datepicker #arrival></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </section>

  <footer>
    <app-button title="Cari Penerbangan" (click)="searchFlight()"></app-button>
  </footer>
</body>
