body{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  app-reservation{
    position: absolute;
    transform: translateY(50vh);
  }
  .content{
    margin-top: 60vh;
  }
}

