a{
  text-decoration: none;
  color: rgba($color: #000000, $alpha: 1.0)
}

.content{
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  display: flex;
  justify-content: space-evenly;
  display: flex;
  width: 100vw;
  background-color: grayscale($color: #eeeeee);
  .profile{
    background-color: white;
    min-width: 30%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    .profile-detail{
      display: flex;
      flex-direction: column;
      .profile-detail-title{
        font-size: 25px;
      }
    }
  }
  .choice{
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    min-width: 20%;
    display: flex;
    .wrapper-choice{
      .sub-choice{
        display: flex;
        padding: 10px;
      }
    }
  }

}
