<body>
  <header>
    <div class="left-section">
      <div class="logo">
        A
      </div>
      <p>Cari Sewa atraksi Murah di Sini</p>
    </div>
    <div class="right-section">
      <p>Pencarian Terakhir ></p>
    </div>
  </header>

  <section>

    <mat-tab-group dynamicHeight style="max-width: 30%;">
      <mat-tab label="{{displayLocation[i]}}" *ngFor="let location of displayLocation;let i = index">
          <div class="container" style="display: flex; max-width: 70%; flex-wrap: wrap;">
              <div class="sub-container" *ngFor="let city of displayCity" >
                <button mat-button *ngIf="city.country == location">{{city.city}}</button>
              </div>
          </div>
      </mat-tab>
    </mat-tab-group>
  </section>

  <footer>
    <app-button title="Cari Atraksi"></app-button>
  </footer>
</body>
