<mat-card>
  <div class="preview-hotel">
    <div class="location">
      <div class="logo">
        H
      </div>

      <div class="detail">
        <div class="title">
        </div>
        <div class="description">
          <div class="from">
            {{fromDate}}
          </div>
          :
          <div class="to">
            {{toDate}}
          </div>
        </div>
      </div>
      <app-button title="UBAH PENCARIAN" width = 21 (click)="toggleOverlay($event)"></app-button>
    </div>

    <div class="search-hotel" *ngIf="!isHidden">
      <div class="location">
        <mat-label>Location</mat-label>
        <mat-select>
          <mat-option>--</mat-option>
        </mat-select>
      </div>

      <div class="schedule">
        <div class="fromSchedule">
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Tanggal Mulai" [(ngModel)] = "fromDate">
            <input hidden [formControl] = "formattedStart" matinput [ngModel] = "fromDate | date:'yyyy-MM-dd'">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="endSchedule">
          <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Tanggal Selesai" [(ngModel)] = "toDate" >
            <input  hidden [formControl] = "formattedEnd" matinput [ngModel] = "toDate | date:'yyyy-MM-dd'">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <app-button title="MULAI PENCARIAN" width = 21></app-button>
    </div>
  </div>


  <div class="carousel" *ngIf="isCarouselShown">
    <div class="carousel-container">
      <div class="image"  *ngFor="let image of images; index as sliderId" (click)="setShown()">
        <img src="../../../assets/home-imageslider/{{image.name}}" alt="">
      </div>
    </div>
  </div>
  <div class="thumbnail" >
    <img src="../../../../assets/airline/hotel.jpg" alt="" srcset="">
    <img src="../../../../assets/airline/hotel2.jpg" alt="" srcset="">
    <img src="../../../../assets/airline/hotel3.jpg" alt="" srcset="" (click)="setShown()">
  </div>

  <div class="hotel-results">
    <div class="hotel-result">
      <header>
        {{hotel[0].location.country}} > {{hotel[0].location.city}} >
      </header>
      <section>
        <div class="left">
          <app-button title="Open Map" width = 21 (click)="setOpenMap()" *ngIf="!openMap"></app-button>

          <div class="model">
            <div class="model-name">
              <h2>{{hotel[0].name}}</h2> <h3>{{hotel[0].rating}}</h3> Star
            </div>
            <div class="model-map">
              <div id="map"></div>
            </div>
            <div class="model-price">
              {{hotel[0].hotelRoom[0].room.price}}
            </div>
          </div>
        </div>
        <div class="right">
          <div class="hotel-facility" *ngFor="let facility of hotel[0].hotelFacility">
            <button mat-button matTooltip = {{facility.facility.name}}><i class="fa fa-building-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </section>
      <footer>
        <div class="roomValidation">
          <div class="type">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Type
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="category" *ngFor="let type of types; let i = index">
                <div class="filter-desc">
                  {{type.name}}
                </div>
                <mat-checkbox [checked] = "type.active" [(ngModel)]="type.active" name= "{{i}}-name"></mat-checkbox>
              </div>
            </mat-expansion-panel>
          </div>
          <div class="facility">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Facility
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="category" *ngFor="let facility of facilities; let i = index">
                <div class="filter-desc">
                  {{facility.name}}
                </div>
                <mat-checkbox [checked] = "facility.active" [(ngModel)]="facility.active" name= "{{i}}-name"></mat-checkbox>
              </div>
            </mat-expansion-panel>
          </div>
        </div>
        <div class="room-results">
          <h1>Room</h1>
          <div class="sub-results" *ngFor="let room of hotel[0].hotelRoom; let i = index">
            <div class="room-result" style="display: flex; justify-content: center; flex-direction: column;" *ngIf="roomValidation(i)">
              <header>
                <div class="left">
                  <img src="../../../../assets/airline/hotel.jpg" alt="">
                  <div class="model">
                    <div class="model-name">
                      {{room.room.name}}
                    </div>
                    <div class="model-description">
                      <div class="room-facilites" *ngFor="let roomFacility of room.room.roomFacility;">
                        <button mat-button matTooltip = {{roomFacility.facility.name}}><i class="fa fa-building-o" aria-hidden="true"></i></button>
                      </div>
                      <div class="another-info">
                        <h4>Max Guest  : {{room.room.maxGuest}}</h4>
                        <h4>Size : {{room.room.size}} </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="right">
                  {{room.room.price}}
                </div>
              </header>
              <footer>
                <app-button title="BELI" width="8" id="{{i}}" style="z-index: 4;" (click)="navigateCheckout(i)"></app-button>
              </footer>
            </div>
          </div>
        </div>
      </footer>
      <button mat-button (click)="email()">Email</button>
      <button mat-button (click)="copy()">Copy</button>
      <button mat-button (click)="facebook()">Facebook</button>
      <h1>Review Hotel</h1>
      <div class="review">
        <div class="filter">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Category
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="category" *ngFor="let category of categories; let i = index">
              <div class="filter-desc">
                {{category.name}}
              </div>
              <mat-checkbox [checked] = "category.active" [(ngModel)]="category.active" name= "{{i}}-name"></mat-checkbox>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Rating
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="rating" *ngFor="let rating of reviewRating; let i = index">
              <div class="filter-desc">
                {{rating.number}}
              </div>
              <mat-checkbox [checked] = "rating.active" [(ngModel)]="rating.active" name= "{{i}}-name"></mat-checkbox>
            </div>

            <button mat-button (click)="ratingSort()">Sort Rating</button>
          </mat-expansion-panel>


        </div>
        <div class="review-result">
          <div class="container" style="display: flex; justify-content: center; flex-direction: column;">
            <mat-card class="example-card" *ngFor="let review of reviewDisplay;let i = index">
                <mat-card-header *ngIf="filterValidation(i)">
                    <mat-card-title>{{review.caption}} {{review.review}}</mat-card-title>
                    <mat-card-subtitle>{{review.description}}</mat-card-subtitle>
                    <mat-card-subtitle>{{review.user}}, {{review.createdAt | date}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
          </div>
        </div>
        <div class="button">
          <button mat-button *ngFor="let item of pageCount" (click)="changePage(item-1)">{{item}}</button>
        </div>
          <div class="summary">
            <h3>Summary</h3>
            <mat-card>
              <div>Pelayanan : {{pelayanan.score/pelayanan.count}}</div>
              <div>Kamar : {{kamar.score/kamar.count}}</div>
              <div>Lokasi : {{lokasi.score/lokasi.count}}</div>
              <div>Kebersihan : {{kebersihan.score/kebersihan.count}}</div>
            </mat-card>
          </div>
      </div>
      <mat-card style="display: flex; flex-direction: column;">
        <h3>Nearest Hotel</h3>
        <mat-card *ngFor="let item of nearestHotel" style="max-width: fit-content;">
          <img src="../../../../assets/airline/hotel2.jpg" alt="" srcset="">
          <mat-card-subtitle>
            {{item.name}}
            {{item.location.city}}
          </mat-card-subtitle>
        </mat-card>
      </mat-card>
    </div>
  </div>
</mat-card>
