
body{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  app-reservation{
    position: absolute;
    transform: translateY(50vh);
    z-index: 2;
  }
  .content{
    margin-top: 60vh;
  }
}
